.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    background-color: black;
    height: 15vh;
}

.header img {
    width: 75px;
    height: 75px;
}