.countdown{
    padding-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.day{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.day strong {
    font-size: clamp(2.875rem, 1.3125rem + 6.25vw, 6rem);
}

.day span {
    color: var(--primary-gray);
    font-size: clamp(0.75rem, 0.375rem + 1.5vw, 1.5rem);
}

.separator {
    font-size: clamp(2rem, 1rem + 4vw, 4rem);
}


@media (max-width: 600px) {
    .countdown{
        gap: 10px;
    }
}
